@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&display=swap");
* {
margin: 0;
padding: 0;
color: white;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

.preNavbar {
    height: 100px;
    
}
.preNavbar ul li{
    list-style: none;

}
.preNavbar ul li a{
    text-decoration: none;
}
.tituloMangos {
    padding-top: 25px;
    margin-top: -7px;
}
.logoNavbar{
    margin-top: -10px;
}
.sesion {
    padding-top: 30px;
    margin-top: -6px;
    padding-left: 0px;
}
.iconos-cart{
    padding-left: 0px;
    margin-left: 0px;
}
.logoMangos {
    margin-left: 50px;
    width: 80px; 
    height: 80px;
    margin-top: 10px;
}
.navBar{
    background-color: orangered;
    height: 50px;
}
.navBar ul li {
    list-style: none;
    color: black;
    padding: 0px;
    text-align: center;
    margin-left: 30px;
}
.navBar ul li a {
    text-decoration: none;
    color: black;
}

